/* Form fields*/

.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 1.25;
  border-width: 2px;
  --border-opacity: 1;
  border-color: #edf2f7;
  border-color: rgba(237, 242, 247, var(--border-opacity));
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
  border-radius: 0.25rem;
}

.dataTables_filter {
  margin-left: auto;
}

.dataTables_filter input {
  margin-left: 0.5rem;
}

.dataTables_length select {
  cursor: pointer;
}

.dataTables_processing {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  opacity: 0.75;
  z-index: 50;
}

.dataTables_paginate {
  margin-left: auto;
}

/* Row Hover*/

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  --bg-opacity: 1;
  background-color: #ebf4ff;
  background-color: rgba(235, 244, 255, var(--bg-opacity));
}

/* Pagination Buttons*/

.dataTables_wrapper .dataTables_paginate .paginate_button {
  font-weight: 700;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: transparent;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin: 0.25rem;
  cursor: pointer;
}

/* Pagination Buttons - Current selected */

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-weight: 700;
  border-radius: 0.25rem;
  --bg-opacity: 1;
  background-color: #667eea;
  background-color: rgba(102, 126, 234, var(--bg-opacity));
  border-width: 1px;
  border-color: transparent;
}

/* Pagination Buttons - Current selected */

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  cursor: not-allowed;
}

/* Pagination Buttons - Hover */

.dataTables_wrapper .dataTables_paginate .paginate_button:not(.disabled):hover {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-weight: 700;
  border-radius: 0.25rem;
  --bg-opacity: 1;
  background-color: #667eea;
  background-color: rgba(102, 126, 234, var(--bg-opacity));
  border-width: 1px;
  border-color: transparent;
}

/* Add padding to bottom border */

table.dataTable.no-footer {
  border-bottom: 1px solid #e2e8f0;
  /*border-b-1 border-gray-300*/
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* Change colour of responsive icon*/

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  background-color: #667eea !important;
  /*bg-indigo-500*/
}